/* Custom Scrollbar for Admin Dashboard */
.admin-content-scroll::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.admin-content-scroll::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.08);
    /* Lighter, translucent track for better visibility */
    border-radius: 4px;
}

.admin-content-scroll::-webkit-scrollbar-thumb {
    background: #24344e;
    border-radius: 4px;
}

.admin-content-scroll::-webkit-scrollbar-thumb:hover {
    background: #3b5075;
}